@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    /* overflow: hidden; */
}

body {
    background-color: rgb(235, 231, 231);
    overflow-y: scroll;
}

/* cores usadas no site */
:root {
    --azul-escuro: #002074;
    --cor-texto: rgb(75, 73, 73);
}

/* divs que serão mais usadas */
.container {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.centraliza {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*****/

/* formatação do header */
header {
    /* position: fixed; */
    width: 100%;
    height: 150px;
    background-color: #002074;
    display: flex;
    align-items: center;
}

header > .container {
    height: 100%;
    display: flex;
}   

/*------------------------------------------ header --------------------------------------------- */
.container .container-logo {
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* logo do site */
.container .container-logo .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: silver;
}

.header-content {
    width: 100%;
    height: 100%;
}

/*------------------------------------------ header 1 --------------------------------------------- */
.header1 {
    width: 100%;
    height: 60%;
    display: flex;
}

.header1 .buscar {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* input de busar produto */
.header1 .buscar input[type=text] {
    width: 75%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 1000px;
}

/* formata os ícones do header */
.header1 .botoes-menu {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
}

.botoes-menu .nav-links a {
    color: white;
    font-size: 35px;
    transition: all .3s ease;
}
.botoes-menu .nav-links a:hover {
    text-decoration: none;
    transform: scale(1.06);
}
.botoes-menu .nav-links a:not(:nth-of-type(3)) {
    margin-right: 10px;
}

.botoes-menu .nav-links a:last-of-type {
    display: none;
}

/*------------------------------------------ header 2 --------------------------------------------- */
.header2 {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header2 ul.nav-links {
    list-style: none;
    display: flex;
    /* gap: 50px; */
}

.header2 ul.nav-links li {
    position: relative;
    width: 150px;
    text-align: center;
}

.header2 ul.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;

    transition: all .5s ease;
}

.header2 ul.nav-links li a:hover {
    opacity: .7;
}

.header2 ul.nav-links li .links-sub-menu {
    width: 100%;
    left: 0;
    position: absolute;
    list-style: none;
    z-index: 900;
    background-color: var(--azul-escuro);
    padding-top: 20px;
    border-radius: 0 0 10px 10px;

    display: none;
    transition: all .4s ease;
}

.header2 ul.nav-links li:hover .links-sub-menu {
    display: block;
}

.header2 ul.nav-links li .links-sub-menu li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.header2 ul.nav-links li .links-sub-menu li a {
    color: white;
    font-size: 18px;
}

/*------------------------------------------ formatação imagens slider imagens --------------------------------------------- */
.carousel {
    margin: 50px auto;
    width: 95%;
    max-width: 1280px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.carousel-item img {
    max-width: 1280px;
    width: 100%;
    object-fit: cover;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
}

/*------------------------------------------ sessão de imagens promocionais --------------------------------------------- */
.sessao-imagens {
    width: 100%;
    margin: 60px 0;
    background-color: rgb(224, 222, 222);
    padding: 40px 0;
}

.imagens-content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.imagem-item {
    position: relative;
    width: 32%;
    height: 100%;
    object-fit: cover;
    border: 1px solid silver;
    transition: all .4s ease;
}
.imagem-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* card azul na parte de baixo da imagem */
.titulo-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    z-index: 999;
}

/* efeito hover com conteúdo e botão */
.imagem-item .efeito-hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;

    opacity: 0;
    pointer-events: none;
}

/* título efeito hover */
.imagem-item .efeito-hover-img h3 {
    color: white;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    padding-bottom: 40px;
    cursor: default;
}

/* parágrafo do efeito hover */
.imagem-item .efeito-hover-img p {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
    cursor: default;
}

/* link do efeito hover */
.imagem-item .efeito-hover-img a {
    width: 180px;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #002074;
    border-radius: 10px;
    text-decoration: none;
    transition: all .4s ease;
}
.imagem-item .efeito-hover-img a:hover {
    background-color: blue;
    transform: scale(1.1);
}

.imagem-item:hover > .efeito-hover-img {
    opacity: 1;
    pointer-events: auto;
}

/*------------------------------------------ sessão de produtos --------------------------------------------- */
section.produtos {
    width: 100%;
    margin: 100px 0;
}

/* container de produtos */
section.produtos .produtos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    align-items: center;
    padding: 5px;
}

section.produtos .produtos-container a {
    text-decoration: none;
    transition: all .3s ease;
}

section.produtos .produtos-container a:hover {
    text-decoration: none;
}

section.produtos .produtos-container a:hover > .card-produto {
    transform: scale(1.02);
}

/* card do produto */
.card-produto {
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 10px;
    margin-bottom: 8px;
    transition: all .2s ease;
}

/* div que contém a imagem */
.card-produto .img-produto {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

/* imagem do produto */
.card-produto .img-produto img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* conteúdo e preço do produto */
.card-produto .produto-conteudo {
    width: 100%;
    height: 50%;
}

.card-produto .produto-conteudo .descricao-produto p {
    width: 100%;
    text-align: justify;
    font-size: 15px;
    color: var(--cor-texto);
    padding-top: 20px;
}

/* estrelas de acaliação do produto */
.card-produto .produto-conteudo .avaliacao-card-produto {
    width: 100%;
    color: yellow;
    font-size: 18px;
}

.card-produto .produto-conteudo .preco-produto {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.card-produto .produto-conteudo .preco-produto span:first-of-type {
    color: silver;
    font-size: 14px;
    text-decoration: line-through;
}

.card-produto .produto-conteudo .preco-produto span:last-of-type {
    color: var(--cor-texto);
    font-size: 20px;
}

/*------------------------------------------ slider de marcas --------------------------------------------- */

section.carousel-marcas {
    width: 100%;
    padding: 40px 0;
    background-color: rgb(224, 222, 222);
}

.slide-container {
    width: 100%;
    max-width: 1280px;
    padding: 40px 0;
}

.slide-content {
    padding: 40px 0;
    margin: 0 40px;
    overflow: hidden; /* esconde os sliders laterais que não estão na tela principal do slider */
    border-radius: 25px;
}

/* card que contêm a imagem e o conteúdo */
.card {
    border-radius: 25px;
    background-color: white;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

/* o card que compreende todos os elementos como imagem e contúdo escrito */
.card-content {
    height: 200px;
    position: relative;
}

.card-content h2 {
    font-size: 25px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
    margin: 10px 0 20px 0;
}

.image-content {
    position: relative; /* limita o overlay devido ao position absolulte que ele possui */
    row-gap: 5px; /* row-gap define o tamanho do intervalo da linha do objeto */
    padding: 25px 0;
}

/* fundo azul atrás da imagem */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: black; */

    border-radius: 25px 25px 0 0;
}

/* --------------- os códigos abaixo servem para criar o efeito com borda do lado direito inferior da imagem do card de marcas --------------- */

/* cria dois quadradinhos vazios para aplicar o efeito visto no canto inferior direito do card da imagem */
/* cria um quadradinho para cada código, before e after 
.overlay::before,
.overlay::after {
    content: ''; /* responsável por criar os quadradinhos 
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: blue;
}

/* pega o segundo quadradinho(que foi formado pelo .overlay::after) e deixa ele branco fazendo que apareça apenas o pontinha do quadradinho do before, deixando assim o efeito visto no caed 
.overlay::after {
    border-radius: 0 20px 0 0;
    background-color: white;
}
*/

/* div que limita o tamanho da imagem */
.card-image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
}

/* formata a imagem para caber dentro do elemento pai que é .card-image */
.card-image .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    /* border: 4px solid #4070F4; */
}

/* pega o nome ou o título do card */
.name {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

/* pega a descrição do card */
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

/* botão de veja mais dos cards de marcas */
.card-wraper .card .card-content a {
    color: white;
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--azul-escuro);
    border-radius: 10px;

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s ease;
}
.card-wraper .card .card-content a:hover {
    text-decoration: none;
    background-color: blue;
    width: 150px;
}

.swiper-navBtn {
    color: gray;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: blue;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #4070F4;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: blue;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }
}

/*---------------------------------------------------- responsivo ------------------------------------------------------- */
@media screen and (max-width: 1024px){
    .imagens-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
    }

    .imagem-item {
        position: relative;
        width: 600px;
        height: 500px;
        object-fit: cover;
        border: 1px solid silver;
        transition: all .4s ease;
    }
}

@media screen and (max-width: 970px){
    .header1 .buscar {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* formata os ícones do header */
    .header1 .botoes-menu {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: white;
    }

    .header1 .botoes-menu a:not(:last-of-type) {
        display: none;
    }

    .header1 .botoes-menu a:last-of-type {
        display: block;
    }
}

@media screen and (max-width: 900px){
    header {
        height: 100px;
    }
    
    .header1 .botoes-menu a i {
        display: none;
    }

    .header1 .botoes-menu i:last-child {
        display: block;
    }


    .container .container-logo .logo {
        width: 80px;
        height: 80px;
    }

    .header1 {
        height: 100%;
    }

    .header2 {
        display: none;
        pointer-events: none;
    }
}

@media screen and (max-width: 705px){
    .card-produto {
        width: 85%;
        height: 200px;
        display: flex;
        border-radius: 10px;
        margin: 0 auto;
    }
    
    /* div que contém a imagem */
    .card-produto .img-produto {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    /* imagem do produto */
    .card-produto .img-produto img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    /* conteúdo e preço do produto */
    .card-produto .produto-conteudo {
        width: 50%;
        height: 100%;
        padding-left: 20px;
        font-size: 14px;
    }

    .card-produto .produto-conteudo .descricao-produto p,
    .card-produto .produto-conteudo .preco-produto {
        padding-top: 0;
    }

    .card-produto .produto-conteudo .preco-produto {
        padding-top: 30px;
    }
}

@media screen and (max-width: 550px){
    .card-produto {
        width: 100%;
        height: 200px;
        display: flex;
        border-radius: 10px;
    }
    
    /* div que contém a imagem */
    .card-produto .img-produto {
        width: 50%;
        height: 90%;
        object-fit: cover;
        border-radius: 10px;
        margin: auto 0;
    }
    
    /* imagem do produto */
    .card-produto .img-produto img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    /* conteúdo e preço do produto */
    .card-produto .produto-conteudo {
        width: 50%;
        height: 90%;
        padding-left: 20px;
        font-size: 14px;
        margin: auto 0  ;
    }
        
    .card-produto .produto-conteudo .descricao-produto p {
        width: 100%;
        font-size: 13px;
        padding-top: 0;
    }

    /* estrelas de acaliação do produto */
    .card-produto .produto-conteudo .avaliacao-card-produto {
        width: 100%;
        font-size: 11px;
    }

    .card-produto .produto-conteudo .preco-produto {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .card-produto .produto-conteudo .preco-produto span:first-of-type {
        color: silver;
        font-size: 10px;
        text-decoration: line-through;
    }

    .card-produto .produto-conteudo .preco-produto span:last-of-type {
        color: var(--cor-texto);
        font-size: 15px;
    }
}

@media screen and (max-width: 630px){
    .imagens-content {
        width: 100%;
        height: auto
    }

    .imagem-item {
        position: relative;
        width: 100%;
        height: 380px;
        object-fit: cover;
        border: 1px solid silver;
        transition: all .4s ease;
    }
}

@media screen and (max-width: 550px){
    /* div que contêm a logo */
    .container .container-logo {
        width: auto;
    }

    /* logo do site */
    .container .container-logo .logo {
        width: 60px;
        height: 60px;
    }

    /* div que contêm o input de busca */
    .header1 .buscar {
        width: 85%;
    }

    /* input de buscar produto */
    .header1 .buscar input[type=text] {
        width: 85%;
        height: 40px;
        line-height: 40px;
    }

    /* div que contêm os ícones do header */
    .header1 .botoes-menu {
        width: 15%;
    }

    /* faz o botão hamburguer aparecer */
    .header1 .botoes-menu a i:last-child {
        font-size: 28px;
    }
}

@media screen and (max-width: 280px){
    section.produtos > .container {
        width: 99%;
    }
    
    .card-produto {
        width: 100%;
        height: 230px;
        display: flex;
        border-radius: 10px;
    }
}