:root {
    --azul-escuro: #002074;
    --cor-texto: rgb(75, 73, 73);
}

body {
    height: 100%;
    background-image: linear-gradient(to right, #0332ab, #01288c, var(--azul-escuro));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-container {
    width: 100%;
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid silver;
    text-align: center;
}

.login-container h3 {
    color: var(--azul-escuro);
    font-size: 30px;
    font-weight: 700;
}

.login-container form {
    margin-top: 30px;
}

.input-item {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-item:not(:first-of-type){
    margin-top: 25px;
}

.input-item label {
    font-size: 18px;
    color: var(--cor-texto);
    padding-bottom: 6px;
}

.input-item input {
    border: 1px solid silver;
    padding-left: 8px;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    outline: none;
}

.senha-cadastro {
    width: 100%;
    font-size: 13px;
    padding: 15px 0;
}

.login-container input[type=submit]{
    width: 300px;
    padding: 10px 0;
    background-color: var(--azul-escuro);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}
.login-container input[type=submit]:hover {
    background-color: #0332ab;
    transform: scale(1.03);
}

@media screen and (max-width: 470px){
    .login-container h3 {
        font-size: 24px;
        font-weight: 700;
    }  

    .input-item label {
        font-size: 12px;
        color: var(--cor-texto);
        padding-bottom: 6px;
    }
    
    .login-container input[type=submit]{
        width: 180px;
        padding: 8px 0;
        font-size: 15px;
        transition: .3s ease;
    }

    .senha-cadastro {
        width: 100%;
        font-size: 11px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 390px){
    .login-container h3 {
        font-size: 18px;
        font-weight: 700;
        padding-top: 10px;
    }  

    .login-container {
        padding: 10px;
        border: 1px solid silver;
        text-align: center;
    }

    .input-item label {
        font-size: 14px;
        color: var(--cor-texto);
        padding-bottom: 6px;
    }
}