:root {
    --roxo-claro: #7f3cec;
    --roxo-escuro: #4e17a7;
    --laranja: #f3924c;
    --laranja-escuro: #FF6F06;
    --padding-sections: 10px 1%;
    --cinza-claro: #F8F8F8;
}

header .container a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--cinza-claro);
}

.container-formulario {
    width: 40%;
    margin: -30px auto;
    padding: 1.3%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid silver;
    box-shadow: 1px 1px 3px silver;
    text-align: center;
}

.container-formulario h2 {
    color: var(--laranja-escuro);
    font-size: 32px;
}

.container-formulario .formulario-login form {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    text-align: left;
}

.formulario-login form input[type=email],
.formulario-login form input[type=password] {
    padding: 12px;
    border: none;
    background-color: var(--cinza-claro);
    outline: none;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 8px;
    box-shadow: 1px 1px 2px silver;
}

.formulario-login form input:not(:last-child){
    margin-bottom: 20px;
}

.formulario-login form a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.formulario-login form a:hover {
    text-decoration: underline;
}

.formulario-login form input[type=submit] {
    width: 30%;
    margin: 20px auto 0 auto;
    padding: 1.3%;
    border: 1px solid var(--roxo-escuro);
    background-color: var(--roxo-claro);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: .5s ease;
    box-shadow: 1px 1px 3px var(--roxo-escuro);
}

.formulario-login form input[type=submit]:hover {
    background-color: var(--roxo-escuro);
}